@media (max-width : 1500px) {
    .main-section {
      margin-left: 100px; 
    }
  }
  
  .main-section {
    margin-left: 450px;
    margin-top: 40px;  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
  }
  
  .main-section header {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  
  #navbar {
    position: fixed;
    width: 400px;
    top: 15px;
    padding-left: 10px;
  }
  
  #navbar header {
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  #navlist {
    list-style-type: none;
    margin: 0;
    
    padding: 20px 0px 0px 10px;
    font-size: 25px;
  }
  
  #navlist li {
    padding: 10px;
  }
  
  #navlist a {
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-family: 'Poppins', sans-serif;
  }
  
  code {
    display: block;
    background-color: rgb(240,240,240);
    padding: 15px 0px 15px 35px;
    margin-left: 35px;
    margin-right: 35px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
  }
  
  code ul {
    margin: 0;
    padding-left: 15px;
    padding-right: 0px;
  }

  p {
    padding-left: 20px;
  }